.header-row {
    font-weight: bold;
    background-color: black; /* Color de fondo del encabezado */
    text-align: center;
    color: white;
}

.data-row {
    border-bottom: 1px solid qhite; 
}

ion-col {
    text-align: center; 
    padding: 8px 0; 
}